//Fonts

$primary-font: Avenir-Roman, sans-serif;



//Colors

$bg-color:#040714;
$blue:#48cae4;
$text-primary:#f9f9f9;
$login-sign-up-btn:#0063e5;
$login-sign-up-btn-hover:#0483ee;
$nav-bg:#090b13;


::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #b6b8bf;
    border-radius: 4px;
  }